@{
    Layout = "_Layout";
    ViewData["Title"] = "Movie List";
}
@section Scripts {
<script>
        var CurrentRating;
        var CurrentGenre;
        var CurrentTitle;

        function fnDocumentReadyCommon() {
            search();
        }

        function search() {
            CurrentRating = $('#selectRating').val();
            CurrentGenre = $('#selectGenre').val();
            CurrentTitle = $('#txtTitle').val();

            selectMovieList(1, true);
        }

        function selectMovieList() {
            var param = {
                rating: CurrentRating,
                genre: CurrentGenre,
                title: CurrentTitle
            }

            m_Ajax.Call('@Url.Action("SelectMovieList")', param, function (data) {
                if (data) {
                    var tbodyHtml = "";
                    $(data).each(function (i) {
                        tbodyHtml += '<tr>';
                        tbodyHtml += '  <td>';
                        tbodyHtml += '      <a onclick="callEdit(this);">' + (data[i].title ? data[i].title : "") + '</a>';
                        tbodyHtml += '  </td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].genre ? data[i].genre : "") + '</td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].director ? data[i].director : "") + '</td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].releaseTime ? data[i].releaseTime : "") + '</td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].rating ? data[i].rating : "") + '</td>';
                        tbodyHtml += '  <td class="align-center">' + (data[i].updateUser ? data[i].updateUser : "") + '</td>';
                        tbodyHtml += '</tr>';
                    });
                    $('#movieList').html(tbodyHtml);

                } else {
                    $('#movieList').html('<td colspan="6">The item does not exist.</td>');
                }
            });
        }

        function callAdd() {
            m_Popup.Open("/Home/MovieItemRegistration", "Movie Content", 1000, 790);
        }

        function callEdit(elem) {
            var title = $(elem).text();
            m_Popup.Open("/Home/MovieItemModification?title=" + title, "Movie Content", 1000, 790);
        }
</script>
}
<div class="sub-content-padding">
    <div class="subpage-body">
        <div class="space-s"></div>

        <div class="sub-content-grid overflow-auto">
            <div class="sub-content-padding text-align-center" style="border: solid 1px darkgray; border-radius:30px;">
                <div>
                    <div>
                        <div>
                            <span><img src="~/img/record.png" style="width:200px; height:200px;" /></span>
                        </div>
                        <div class="space-m"></div>
                        <div>
                            <h3 class="ft-blue b space-m">THE Hills</h3>
                            <span class="block text-align-center space-m">The Weeknd</span>
                            <button class="btn sub-btn btn-basic-outline space-m">get</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-content-padding text-align-center" style="border: solid 1px darkgray; border-radius:30px;">
                <div>
                    <div>
                        <div>
                            <span><img src="~/img/record.png" style="width:200px; height:200px;" /></span>
                        </div>
                        <div class="space-m"></div>
                        <div>
                            <h3 class="ft-blue b space-m">THE Hills</h3>
                            <span class="block text-align-center space-m">The Weeknd</span>
                            <button class="btn sub-btn btn-basic-outline space-m">get</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-content-padding text-align-center" style="border: solid 1px darkgray; border-radius:30px;">
                <div>
                    <div>
                        <div>
                            <span><img src="~/img/record.png" style="width:200px; height:200px;" /></span>
                        </div>
                        <div class="space-m"></div>
                        <div>
                            <h3 class="ft-blue b space-m">THE Hills</h3>
                            <span class="block text-align-center space-m">The Weeknd</span>
                            <button class="btn sub-btn btn-basic-outline space-m">get</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-content-padding text-align-center" style="border: solid 1px darkgray; border-radius:30px;">
                <div>
                    <div>
                        <div>
                            <span><img src="~/img/record.png" style="width:200px; height:200px;" /></span>
                        </div>
                        <div class="space-m"></div>
                        <div>
                            <h3 class="ft-blue b space-m">THE Hills</h3>
                            <span class="block text-align-center space-m">The Weeknd</span>
                            <button class="btn sub-btn btn-basic-outline space-m">get</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-m"></div>
    </div>
</div>