@{
    Layout = "_Layout";
    ViewData["Title"] = "List";
}
@section Scripts {
    <script>
        var currentOpt = '';
        var currentSearch = '';

        function fnDocumentReadyCommon() {
            currentOpt = '';
            currentSearch = '';
        }

        function search() {
            currentOpt = $('#selectOpt').val();
            currentSearch = $('#txtSearch').val();

            selectList();
        }

        function selectList() {
            var url = '';
            if (currentOpt == '1' && currentSearch.trim() == '') {
                url = '/Song/GetSongInfoAll';
            } else {
                url = '/Song/GetSongInfo' + '?opt=' + currentOpt + '&search=' + currentSearch;
                if (currentSearch.trim() == '') {
                    alert('Enter your search');
                    return;
                }
            }

            m_Ajax.Call(url, '', function (data) {
                if (data.length > 0) {
                    var searchHtml = "";
                    $(data).each(function (i) {
                        searchHtml += '<div class="sub-content-padding text-align-center" style="border: solid 1px darkgray; border-radius:30px;">';
                        searchHtml += '    <div>';
                        searchHtml += '        <div>';
                        searchHtml += '            <div>';
                        searchHtml += '                <span><img src="/img/record.png" style="width:200px; height:200px;" /></span>';
                        searchHtml += '            </div>';
                        searchHtml += '            <div class="space-m"></div>';
                        searchHtml += '            <div>';
                        searchHtml += '                <h3 class="ft-blue b space-m">' + data[i].songname + '</h3>';
                        searchHtml += '                <input type="hidden" value="' + + data[i].songId + '">';
                        searchHtml += '                <span class="block text-align-center space-m">' + data[i].artist + '</span>';
                        searchHtml += '                <button class="btn sub-btn btn-basic-outline space-m" onclick="callEdit(this)">Song View</button>';
                        searchHtml += '                <button class="btn sub-btn btn-basic-outline space-m" onclick="callLyrics(' + data[i].songId + ')">Lyric View</button>';
                        searchHtml += '            </div>';
                        searchHtml += '        </div>';
                        searchHtml += '    </div>';
                        searchHtml += '</div>';
                    });
                    $('#searchList').html(searchHtml);

                } else {
                    $('#searchList').html('');
                    alert('No search results');
                }
            }, "GET");
        }
    </script>
    }
    <div class="sub-content-padding">
    <div class="subpage-body">
        <div class="space-s"></div>
        <div id="searchList" class="sub-content-grid overflow-auto">
        </div>

        <div class="space-m"></div>
    </div>
</div>