<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/CommonFunction.js"></script>
    <title>@ViewData["Title"] - CloudNativeWeb</title>
    @RenderSection("Scripts", required: false)
    <script>
        function fnShowHideSubMenu(elem) {
            if ($(elem).hasClass('closed')) {
                $(elem).closest('.mn-node').find('.mn-sub').show();
                $(elem).find('i').eq(0).attr('class', "icon-fux-minus-square");
                $(elem).removeClass('closed');
                $(elem).addClass('opened');
            } else if ($(elem).hasClass('opened')) {
                $(elem).closest('.mn-node').find('.mn-sub').hide();
                $(elem).find('i').eq(0).attr('class', "icon-fux-add-square");
                $(elem).removeClass('opened');
                $(elem).addClass('closed');
            }
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="header-container">
                <div class="header-item align-left">
                </div>
                <div class="header-item align-right">
                    <table style="height: 100%">
                        <tr>
                            <td style="vertical-align: middle;">
                            </td>
                            <td style="padding-left:30px;">
                                @*<a class="btn sub-btn btn-gray-outline" href="/Home/Logout">Logout</a>*@
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div id="outer-wrap">
            <div id="sidenav-wrap">
                <div class="sidenav-mask"></div>
                <div class="sidenav-inner">
                    <div class="sidenav-scroll">
                        <div class="mn-node">
                            <div class="mn-top closed" onclick="fnShowHideSubMenu(this);">
                                <span class="nav-folded"><i class="icon-fux-add-square"></i></span>
                                <span class="menu-name">
                                    <a href="javascript:void(0)" class="name">Main</a>
                                </span>
                            </div>
                            <div class="mn-sub" style="display:none;">
                                <div class="mn-node">
                                    <div class="mn-top">
                                        <span class="nav-folded"><i class="nav-bullet"></i></span>
                                        <span class="menu-name">
                                            <a href="/Home/MovieList" class="name">Movie List</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="inner-wrap" class="sub-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
