<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/CommonFunction.js"></script>
    <title>@ViewData["Title"] - CloudNativeWeb</title>
    @RenderSection("Scripts", required: false)

    <script>
        function callAdd() {
            m_Popup.Open("/Home/ItemModification?status=A", "Content", 1000, 790);
        }

        function callEdit(elem) {
            var opt = $(elem).closest('div').find('input[type=hidden').val();
            m_Popup.Open("/Home/ItemModification?status=U&opt=" + opt, "Content", 1000, 790);
        }

        function callLyrics(opt) {
            m_Popup.Open("/Home/LyricsItemModification?opt=" + opt, "Content", 1000, 790);
        }

        function enterkey() {
            if (window.event.keyCode == 13) {
                search();
            }
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header" style="height:250px">
            <div class="header-container" style="justify-content:center;">
                <h1 class="ft-blue b">Lyrics App</h1>
                <div class="space-m"></div>
            </div>
            <div class="header-container" style="justify-content:center;">
                <div class="box-blue">
                    <ul class="search-wrap">
                        <li>
                            <div class="form-label">
                                <div class="control">
                                    <select id="selectOpt" class="fm-def" style="width:250px; height:40px;">
                                        <option value="0">Lyrics</option>
                                        <option value="1">Song</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="space-m"></div>
                    <div class="form-label">
                        <div class="control">
                            <div class="date-wrap">
                                <div class="date-input text-align-center">
                                    <input type="text" class="fm-def" id="txtSearch" value="" style="width:100%" onkeyup="enterkey();">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-m"></div>
                    <div class="align-right">
                        <button class="btn sub-btn btn-basic-outline" onclick="callAdd();">New</button>
                        <button class="btn sub-btn btn-basic-outline" onclick="search();"><i class="icon-fux-search m-r-xs"></i>Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="outer-wrap" style="padding-top:250px">
            <div id="inner-wrap" class="sub-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
